.card__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}

.home__card-text {
  font-size: 2.2rem;
  color: var(--secondary-text);
  line-height: 1.6;
}

.home__card-footer {
  font-size: 1.6rem;
  color: var(--primary-500);
}

.home__card-link {
  margin-left: 0.75rem;
  font-weight: 700;
}